[submodule "themes/pelican-hyde"]
	path = themes/pelican-hyde
	url = https://github.com/jvanz/pelican-hyde
[submodule "themes/flex"]
	path = themes/flex
	url = https://github.com/alexandrevicenzi/flex
